In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn import preprocessing
from sklearn.model_selection import train_test_split

from sklearn.metrics import roc_auc_score, accuracy_score

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [15]:
df = pd.read_csv('Train.csv')

In [16]:
df.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [53]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status            int64
dtype: object

In [37]:
X = df.iloc[:,1:-1].reset_index(drop = True)
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban
6,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban
7,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban
8,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban
9,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban
10,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban
11,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban
12,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban
13,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural
14,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban
15,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban
16,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban
17,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban
18,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural
19,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban
20,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban
21,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban
22,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban
23,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural
24,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban
25,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban
26,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban
27,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban
28,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban
29,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban
...,...,...,...,...,...,...,...,...,...,...,...
584,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural
585,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural
586,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban
587,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban
588,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban
589,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban
590,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban
591,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban
592,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban
593,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural
594,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban
595,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural
596,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural
597,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban
598,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural
599,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban
600,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban
601,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural
602,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban
603,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural
604,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban
605,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban
606,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban
607,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural
608,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban

In [52]:
df['Loan_Status'].dtypes

dtype('int64')

In [51]:
df['Loan_Status'].replace(['Y','N'],[1,0],inplace=True)

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [43]:
print(df.shape)
print(df.dropna().shape)

(614, 13)
(480, 13)

In [18]:
# Find the columns where each value is null
empty_cols = [col for col in df.columns if df[col].isnull().all()]

# Drop these columns from the dataframe
df.drop(empty_cols,
        axis=1,
        inplace=True)

In [19]:
print(df.shape)

(614, 13)

In [20]:
df.Loan_Status.value_counts()

Y    422
N    192
Name: Loan_Status, dtype: int64

In [21]:
zero_cls = Y[Y.Loan_Status == 'Y']
one_cls = df[df.Loan_Status == 'N']

In [22]:
#zero_cls = zero_cls.sample(frac=1).reset_index(drop = True)
#zero_cls = zero_cls.iloc[:one_cls.shape[0],:]

In [23]:
#under_sampling_df = pd.concat([one_cls, zero_cls]).reset_index(drop=True)
#under_sampling_df = under_sampling_df.sample(frac=1)

In [24]:
#under_sampling_df.Loan_Status.value_counts()

In [25]:
#X = under_sampling_df.iloc[:,4:].reset_index(drop = True)
#y = under_sampling_df.iloc[:,3].reset_index(drop = True)

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify = y, random_state=2019)

NameError: name 'X' is not defined